.menuItem,
.menuItemMobile {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 5px 0;
  padding-right: 5px;
  transition: all 0.3s ease-in-out !important;
}

.menuItemMobile {
  padding-right: 0;
  justify-content: center;
  align-items: center;
}

.menuItem>a,
.menuItemMobile>a {
  cursor: pointer;
  font-weight: 500;
  display: flex;
  align-items: center;
  padding: 0.85rem 1.5rem;
  font-size: 0.9375rem;
  color: var(--text-gray);
  transition: all 0.5s ease-in-out;
  width: 100%;
}

.menuItemMobile>a {
  padding: 1.125rem 0.875rem;
  text-align: center;
}

.menuItem>a:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-top-right-radius: 3.653rem;
  border-bottom-right-radius: 3.653rem;
  transition: all 0.5s !important;
  background-color: var(--primary);
  display: inline-block;
}

.menuItem>a:after {
  content: "";
  display: inline-block;
  width: 0.4rem;
  height: 0.4rem;
  border-width: 1px 1px 0 0;
  border-style: solid;
  border-color: #c8c8c8;
  position: absolute;
  right: 1.5rem;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  transition: all 0.3s;
}

.menuItem.mm-active>a:after {
  transform: translateY(-50%) rotate(135deg);
  border-color: var(--primary);
}

.menuItem>a>svg,
.menuItemMobile>a>svg {
  color: #96a0af;
  font-size: 1.2rem;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  top: 0;
  height: 20px;
  width: 20px;
  text-align: center;
  margin-right: 1.25rem;
  border-radius: 0.125rem;
}

.menuItem.mm-active>a {
  font-weight: 600;
  background-color: var(--rgba-primary-1);
  border-bottom-right-radius: 2.5rem;
  border-top-right-radius: 0.5rem;
}

.menuItem.mm-active>a>svg {
  color: var(--primary);
  font-weight: 900;
}

.menuItem.mm-active>a:before {
  width: 0.3rem;
}

.submenu-list {
  display: none;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.02);
  width: 100%;
}

.menuItem.mm-active .submenu-list {
  display: flex !important;
  visibility: visible !important;
  opacity: 1 !important;
}

.nav-link {
  position: relative;
  display: block;
  font-size: 0.875rem;
  padding: 0.6rem 1rem 0.6rem 4rem;
  color: var(--text-gray);
  transition: all 0.3s;
  text-decoration: none;
}

.nav-link.active,
.nav-link:hover {
  color: var(--primary);
  font-weight: 600;
  background-color: rgba(136, 108, 192, 0.05);
}

.nav-link:before {
  content: "";
  height: 2px;
  width: 6px;
  background: var(--rgba-primary-5);
  position: absolute;
  left: 2.5rem;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s;
}

.nav-link.active:before,
.nav-link:hover:before {
  width: 12px;
  background: var(--primary);
}