.menuItem,
.menuItemMobile {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 5px 0;
  padding-right: 5px;
  transition: all 0.3s ease-in-out !important;
}

.menuItemMobile {
  padding-right: 0;
  justify-content: center;
  align-items: center;
}

.menuItem>a,
.menuItemMobile>a {
  font-weight: 500;
  display: inline-block;
  padding: 0.85rem 1.5rem;
  font-size: 0.9375rem;
  color: var(--text-gray);
  transition: all 0.5s ease-in-out;
}

.menuItemMobile>a {
  padding: 1.125rem 0.875rem;
  text-align: center;
}

.menuItem>a:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-top-right-radius: 3.653rem;
  border-bottom-right-radius: 3.653rem;
  transition: all 0.5s !important;
  background-color: var(--primary);
  display: inline-block;
}

.menuItem>a:after {
  right: 1.5rem;
  border-width: 0.3125rem !important;
  border-style: solid;
  border-color: #c8c8c8 transparent transparent #c8c8c8 !important;
  top: 48% !important;
  right: 1.875rem;
  transform: rotate(-225deg) translateY(-50%) !important;
  transform-origin: top;
  transition: all 0.5s ease-in-out !important;
  display: inline-block;
}

.menuItem>a>svg,
.menuItemMobile>a>svg {

  color: #96a0af;
  font-size: 1.2rem;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  top: 0;
  height: 20px;
  width: 20px;
  text-align: center;
  margin-right: 1.25rem;
  border-radius: 0.125rem;

}

.menuItemMobile>a>svg {
  margin-right: 0;
  height: 22px;
  width: 22px;
}

.menuItem.mm-active>a {
  font-weight: 600;
  background-color: var(--rgba-primary-1);
  border-bottom-right-radius: 2.5rem;
  border-top-right-radius: 0.5rem;
  transition: all 0.5s ease-in-out
}

.menuItemMobile.mm-active>a {
  background-color: var(--rgba-primary-1);
  border-radius: 0.5rem;
}

.menuItem.mm-active>a>svg,
.menuItemMobile.mm-active>a>svg {
  color: var(--primary);
  font-weight: 900;
}

.menuItem.mm-active>a:before {
  width: 0.3rem;
}

.menuItem.mm-active>a:after {
  border-top-color: var(--primary) !important;
  border-left-color: var(--primary) !important;
  transform: translateY(-50%) rotate(-135deg) !important;
  right: 1.5rem;
  transform-origin: center !important;
}

.nav-link {
  position: relative;
  display: block;
  font-size: 0.875rem;
  padding: 0.4rem 1rem .4rem 4rem;
  color: var(--text-gray);
  transition: all 0.5s;
}

.nav-link.active {
  color: var(--primary);
  font-weight: 600;
}

.nav-link:hover {
  color: var(--primary);
  padding-left: 4.2rem;
  font-weight: 600;
}

.nav-link:hover::before {
  width: 1rem;
}

.nav-link:before {
  content: "";
  height: 0.125rem;
  width: 0.375rem;
  background: var(--rgba-primary-5);
  position: absolute;
  left: 2.5rem;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}

.nav-link.active::before {
  width: 1rem;
}

/* .submenu-mobile {
  position: absolute;
  width: 11.875rem;
  top: 0;
  right: -210px;
  background-color: #fff;
  box-shadow: 0rem 0rem 2.5rem 0rem rgba(82, 63, 105, 0.1);
  border-radius: 0.5rem;
  overflow: visible;
  z-index: 100002;
} */