@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	/* Colors */
	--primary: #886cc0;
	--secondary: #ffa7d7;
	--primary-light: #a590cf;
	--secondary-light: #ffdaee;
	--danger-light: #fd607c;
	--primary-hover: #6c4bae;
	--primary-dark: #402c67;
	--card: #fff;
	--text-dark: #312a2a;
	--text-gray: #737b8b;
	--text: #888888;
	--body-bg: #f3f0f9;
	--border: #e6e6e6;
	--rgba-primary-1: rgba(136, 108, 192, 0.1);
	--rgba-primary-2: rgba(136, 108, 192, 0.2);
	--rgba-primary-3: rgba(136, 108, 192, 0.3);
	--rgba-primary-4: rgba(136, 108, 192, 0.4);
	--rgba-primary-5: rgba(136, 108, 192, 0.5);
	--rgba-primary-6: rgba(136, 108, 192, 0.6);
	--rgba-primary-7: rgba(136, 108, 192, 0.7);
	--rgba-primary-8: rgba(136, 108, 192, 0.8);
	--rgba-primary-9: rgba(136, 108, 192, 0.9);
	--rgba-secondary-1: rgba(255, 167, 215, 0.1);
	--font-family-base: Roboto, sans-serif;
	--font-family-title: Roboto, sans-serif;
	--title: #000;
	--gradient-one: linear-gradient(180deg, #ffa26d 0%, #ffcf6d 100%);
	--tryal-gradient: linear-gradient(
		212.43deg,
		#886cc0 19.43%,
		#aa6cc0 87.63%
	);
	--border: #e6e6e6;
	--nav-headbg: #e9e2f8;
	--sidebar-bg: #ffffff;
	--headerbg: #f3f0f9;
	/* sizes */
	--dz-sidebar-width: 16.5rem;
	--dz-header-height: 4.5rem;
	--dz-sidebar-pos: absolute;
	--dz-header-pos: relative;
	--dz-side-nav-padding: 0.85rem 1.5rem;
	--dz-side-nav-margin: 0 0;
	--dz-side-nav-size: 0.9375rem;
	--dz-side-ico-size: 1.2rem;
	--dz-side-ico-height: auto;
	--dz-side-ico-width: auto;
	--dz-side-sub_nav-padding: 0.4rem 1rem 0.4rem 4rem;
	--dz-side-sub_nav-size: 0.85rem;
	--dz-head-title-size: 1.25rem;
	--dz-side-menu-direction: column;
	--dz-side-menu-padding: 0 0;
	--dz-side-profile: block;
	--dz-side-info: block;
	--dz-side-copyright: block;
}

body {
	margin: 0;
	min-height: 100vh;
}

body > * {
	scrollbar-width: thin;
	scrollbar-color: rgba(111, 133, 147, 0.1) #fff0;
}

.brand-logo {
	display: flex;
	height: 100%;
	width: 100%;
	justify-content: flex-start;
	align-items: center;
	font-size: 1.125rem;
	color: #fff;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	font-weight: 700;
}

.nav-header .brand-title {
	margin-left: 0.9375rem;
	max-width: 8.75rem;
}

.nav-header .logo-abbr {
	max-width: 2.9375rem;
}

.logo-abbr path {
	fill: var(--primary);
}

@media only screen and (max-width: 87.5rem) {
	.nav-header .logo-abbr {
		max-width: 2.8125rem;
	}
}

@media only screen and (max-width: 35.9375rem) {
	.nav-header .logo-abbr {
		width: 2.1875rem;
		height: 2.1875rem;
	}
}
